<div id="footer-wrapper">
    <footer>
        <a href="/home"><button class="button-action">Home</button></a>
        <a href="/calendar"><button class="button-action">Schedule</button></a>
        <a href="/player"><button class="button-action">Roster</button></a>
        <a href="/prospectiveplayer"><button class="button-action">Sign Up</button></a>
        <a href="/news"><button class="button-action">News</button></a>
        <a href="/contact"><button class="button-action">Contact</button></a>

        <!-- Other footer content such as links, etc. -->
    </footer>
</div>
<style>
    
</style>