<div id="footer-wrapper">
    <footer>
        <p>Home</p>
        <p>Schedule</p>
        <p>Roster</p>
        <p>Tickets</p>
        <p>Sign Up</p>
        <p>News</p>
        <p>Contact</p>
        <!-- Other footer content such as links, etc. -->
    </footer>
</div>