<header>
  <div class="navbar">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <div class="dropdown">
      <button class="dropbtn">Team
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/player">Player</a>
        <a href="/coach">Coach</a>
      </div>
    </div>
    <a href="https://www.facebook.com" target="_blank"><img src="/images/facebook-2815916_640.jpg" alt="Facebook"></a>
    <a href="https://www.instagram.com" target="_blank"><img src="/images/instagram-2815919_640.jpg" alt="Instagram"></a>
  </div>
</header>
