<header>
  <div class="navbar">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <div class="dropdown">
      <button class="dropbtn">Team
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/player">Player</a>
        <a href="/coach">Coach</a>
      </div>
    </div>
    <a href="/schedule">Schedule</a>
  </div>
</header>
