<%- include('../partials/head.ejs') %>
<body>
    <div>
        <%- include('../partials/header.ejs') %>

        <body><%- body %></body>

    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>