<form action="/addcoach" method="post" class="">
    <div class="field">
        <input type="text" id="firstname" name="firstname" placeholder="Firstname" required>
    </div>
    <div class="field">
        <input type="text" id="lastname" name="lastname" placeholder="Lastname" required>
    </div>
    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value="Submit">
    </div>
</form>