<form action="/addplayer" method="post" class="">
    <div class="field">
        <input type="text" id="firstname" name="firstname" placeholder="Firstname" required>
    </div>
    <div class="field">
        <input type="text" id="lastname" name="lastname" placeholder="Lastname" required>
    </div>
    <div class="field">
        <input type="text" id="position" name="position" placeholder="Position" required>
    </div>
    <div class="field">
        <input type="number" id="jerseynumber" name="jerseynumber" placeholder="Jerseynumber" required>
    </div>
    <div class="field">
        <input type="text" id="_class" name="_class" placeholder="Class" required>
    </div>
    <div class="field">
        <input type="text" id="major" name="major" placeholder="Major" required>
    </div>
    <div class="field">
        <input type="text" id="bio" name="bio" placeholder="Bio" required>
    </div>
    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value="Submit">
    </div>
</form>