<div class="container-contact">
    <div class="form-container-contact">
        <form action="/submit_form" method="POST" name="EmailForm">
            <div class="logo-row">
                <h3>Mizzou Men's Club Soccer Contact Form</h3>
                <img src="images/Missouri-Tigers-Logo-PNG-3737103409.webp" class="logo-contact">
            </div>
            <div class="form-row">
                <div class="form-group-contact">
                    <label for="Contact_First_Name">First Name*</label>
                    <input type="text" id="Contact_First_Name" name="Contact_First_Name">
                </div>
                <div class="form-group-contact">
                    <label for="Contact_Last_Name">Last Name*</label>
                    <input type="text" id="Contact_Last_Name" name="Contact_Last_Name">
                </div>
            </div>
            <div class="form-group-contact">
                <label for="Contact_Email">Email*</label>
                <input type="email" id="Contact_Email" name="Contact_Email">
            </div>
            <div class="form-group-contact">
                <label for="Contact_Message">Message</label>
                <textarea id="Contact_Message" name="Contact_Message" rows="6" cols="20"></textarea>
            </div>
            <button class="btn-contact" type="submit">Submit</button>
        </form>
    </div>
</div>

