<!-- Images Section with Horizontal Scroll -->
<div class="homepage-section-container">
      <img src="/images/teamplaceholder.jpg" alt="placeholderImage">
  </div>
  
<!-- Two columns section -->
<div class="homepage-section2-container">
      <div class="column">
          <h2>Results</h2>
          <div class="match-info">
              <div class="date-time-info">
                  <div class="date-info">
                      <p>Mar 11, 2024</p>
                  </div>
                  <div class="time-info">
                      <p>01:15AM CDT</p>
                  </div>
              </div>
              <div class="team-info">
                  <img src="" alt="placeholderlogo">
                  <span>2</span>
                  <span>-</span>
                  <span>3</span>
                  <img src="" alt="placeholderlogo">
              </div>
          </div>
          <div class="match-info">
            <div class="date-time-info">
                <div class="date-info">
                    <p>Mar 11, 2024</p>
                </div>
                <div class="time-info">
                    <p>01:15AM CDT</p>
                </div>
            </div>
            <div class="team-info">
                <img src="" alt="placeholderlogo">
                <span>4</span>
                <span>-</span>
                <span>6</span>
                <img src="" alt="placeholderlogo">
            </div>
        </div>
      </div>
      <div class="column">
          <h2>Upcoming Matches</h2>
          <!-- Upcoming matches content here -->
      </div>
</div>
  
  


