
<!-- Images Section with Horizontal Scroll -->
<div class="homepage-section-container">
      <img src="/images/teamplaceholder.jpg" alt="placeholderImage">
</div>

<!--three columns section-->
<div class="homepage-section2-container">

</div>


