<!-- Images Section with Horizontal Scroll -->
<div class="homepage-section-container">
      <img src="/images/teamplaceholder.jpg" alt="placeholderImage">
  </div>
  
<!-- Two columns section -->
<div class="homepage-section2-container">
    <div class="column">
        <h2>Results</h2>
        <div class="result-info">
            <div class="date-time-info">
                <div class="date-info">
                    <p>Mar 11, 2024</p>
                </div>
                <div class="time-info">
                    <p>01:15AM CDT</p>
                </div>
            </div>
            <div class="team-info">
                <img src="" alt="placeholderlogo">
                <span>2</span>
                <span>-</span>
                <span>3</span>
                <img src="" alt="placeholderlogo">
            </div>
        </div>
        <div class="result-info">
            <div class="date-time-info">
                <div class="date-info">
                    <p>Mar 11, 2024</p>
                </div>
                <div class="time-info">
                    <p>01:15AM CDT</p>
                </div>
            </div>
            <div class="team-info">
                <img src="" alt="placeholderlogo">
                <span>4</span>
                <span>-</span>
                <span>6</span>
                <img src="" alt="placeholderlogo">
            </div>
        </div>
    </div>
    <div class="column">
        <h2>Upcoming Matches</h2>
        <div class="match">
            <div class="teams">
                <p>FC Militant Flyers VS FC Black & White Blasters</p>
                <div class="match-time">
                    <p>August 24, 2024</p>
                    <p>10:30AM</p>
                </div>
            </div>
        </div>
        <div class="match">
            <div class="teams">
                <p>FC Militant Flyers VS FC Black & White Blasters</p>
                <div class="match-time">
                    <p>August 24, 2024</p>
                    <p>10:30AM</p>
                </div>
            </div>
        </div>
        <div class="match">
            <div class="teams">
                <p>FC Militant Flyers VS FC Black & White Blasters</p>
                <div class="match-time">
                    <p>August 24, 2024</p>
                    <p>10:30AM</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Point table-->
<div class="homepage-section3-container">
      <h2>Point Table</h2>
      <div>
            <table>
                  <tr>
                        <th>No</th>
                        <th>Team</th>
                        <th>Pts</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                  </tr>
                  <tr>
                        <td>1</td>
                        <td>FC Porto</td>
                        <td>10</td>
                        <td>5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                  </tr>
                  <tr>
                        <td>1</td>
                        <td>FC Porto</td>
                        <td>10</td>
                        <td>5</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                  </tr>
            </table>
      </div>
</div>

  
  


