<section class="schedule-section yellow-section">
    <div class="match-card">
      <div class="match-date">Wednesday April 10</div>
      <div class="match-details">
        <span class="match-info">Regular Season</span>
        <span class="match-time">7:30pm</span>
      </div>
      <div class="match-teams">
        <div class="team">Kansas</div>
        <div class="team">Mizzou</div>
      </div>
      <div class="location">Columbia, MO</div>
    </div>
    <div class="match-card">
      <div class="match-date">Saturday April 24</div>
      <div class="match-details">
        <span class="match-info">Regular Season</span>
        <span class="match-time">3:15pm</span>
      </div>
      <div class="match-teams">
        <div class="team">Mizzou</div>
        <div class="team">Kansas-State</div>
      </div>
      <div class="location">Manhattan, KS</div>
    </div>
    <div class="match-card">
      <div class="match-date">Thursday May 2nd</div>
      <div class="match-details">
        <span class="match-info">Regular Season</span>
        <span class="match-time">5:30pm</span>
      </div>
      <div class="match-teams">
        <div class="team">Illinois</div>
        <div class="team">Mizzou</div>
      </div>
      <div class="location">Columbia, MO</div>
    </div>
    <div class="match-card">
      <div class="match-date">Wednesday May 8th</div>
      <div class="match-details">
        <span class="match-info">Regular Season</span>
        <span class="match-time">7:30pm</span>
      </div>
      <div class="match-teams">
        <div class="team">Mizzou</div>
        <div class="team">Missouri State</div>
      </div>
      <div class="location">Springfeld, MO</div>
    </div>
    <div class="match-card">
      <div class="match-date">Sunday May 24th</div>
      <div class="match-details">
        <span class="match-info">Regular Season</span>
        <span class="match-time">1:45pm</span>
      </div>
      <div class="match-teams">
        <div class="team">Missouri S&T</div>
        <div class="team">Mizzou</div>
      </div>
      <div class="location">Columbia, MO</div>
    </div>
    
   </section>
   <section id="main-content">
   
      <img src="images/actionSolo.png" alt="Descriptive Text about the image" id="overlay-image">
      <img src="images/tiger.png" alt="Descriptive Text about the image" id="overlay-image2">

      <!-- Generic Ticket Button -->
      <div class="positioning-container"> 
      <div class="button-container">
        <div class="box-button">
          <div class="button-label">VIEW ROSTER</div>
          <a href="/player"><button class="button-action">Roster</button></a>
        </div>
      

<!-- Another Example Button -->
      <div class="box-button">
        <div class="button-label">PLAYER SIGN UP</div>
        <a href="/prospectiveplayer"><button class="button-action">Sign Up</button></a>
      </div>
      <div class="box-button">
        <div class="button-label">VIEW CALENDAR</div>
        <a href="/calendar"><button class="button-action">Calendar</button></a>
      </div>
      </div>
    </div>
    <div class="about-section-header">
        MEET THE TEAM
    </div>
    <div class="about-section-content">
      The Men’s Club Soccer team at Mizzou is a
       chance for MU students who love soccer to
        compete against other college teams. Our 
        league matches happen in Missouri and Kansas,
         making it convenient for players to travel. In 
         the Fall semester, we usually participate in two tournaments: 
         Regionals and Nationals. The season kicks off in September and 
         wraps up around November with the NIRSA Collegiate Club Soccer Tournament.
    </div>
    <div class="faq-awards-container">
      <div class="about-section-faq">
        <h2 class="section-title">FAQs</h2>
        <div class="section-content">
          <h2>How much are Membership Dues?</h2>
          <p>         - To be on the Travel Squad it is $400</p>
          <p>         - To be on the Practice Squad it is $100</p>
          <h2>Are there tryouts?</h2>
          <p>-Yes, to be on the Competitive Roster you must tryout</p>
          <p>-It costs $20 to tryout in order to ensure serious candidates</p>
          <h2>When are tryouts?</h2>
          <p>-Tryouts are held August 26th and 27th</p>
          <p>-They take place at Stankowski Field at 10:30am both mornings</p>

        </div>
      </div>
      <div class="about-section-awards">
        <h2 class="section-title">Awards</h2>
        <div class="section-content">
          <p>2011: Champions of the National Tournament in Phoenix, AZ</p>
          <p>2012: Made it to the quarter finals in the National Tournament in Memphis, TN</p>
          <p>2013: Made it to the sweat sixteen in the National Tournament in Phoenix, AZ but got cancelled due to weather.</p>
         <p> 2014: Competed in Novice National Tournament in Memphis,TN due to coming up short at Regionals.</p>
          <p>2017: Competed in the National Tournament in Phoenix, AZ</p>
          <p>2018: Competed in the National Tournament in Foley, AL</p>
          <p> 2019: Competed in the National Tournament in Austin, TX</p>
          <p>2021: 2nd Place in the National Tournament in Foley, AL (2 Players on the All-Tournament Team)</p>
          <p>2022: Semifinalist in NIRSA National Tournament in Austin, TX</p>
          <p>1 player awarded All-Tournament</p>
        </div>
      </div>
    </div>
</section>

  
  


