<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
    <style>
        body {
            font-family: 'Clarendon', serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<header class="banner">
    <div class="news-strip">News</div>
</header>

<section class="main-article">
    <h2>Main Placeholder Article</h2>
    <img src="/images/placeholder.png" alt="placeholderImage">
    <p class="author">Author: John Doe</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Vestibulum lectus mauris ultrices eros in cursus. Morbi tristique senectus et netus et malesuada fames. Convallis convallis tellus id interdum velit laoreet id donec. Eros donec ac odio tempor orci dapibus ultrices. Ut enim blandit volutpat maecenas. Morbi non arcu risus quis. Sem fringilla ut morbi tincidunt augue. Facilisi nullam vehicula ipsum a arcu cursus. Eu augue ut lectus arcu bibendum at. Risus viverra adipiscing at in tellus integer. Vestibulum morbi blandit cursus risus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nulla pellentesque dignissim enim sit. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Et netus et malesuada fames ac. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.

        Tellus molestie nunc non blandit massa enim nec. Mauris cursus mattis molestie a iaculis at erat. Commodo quis imperdiet massa tincidunt. Non pulvinar neque laoreet suspendisse interdum. Sit amet est placerat in. Sagittis eu volutpat odio facilisis. Quam pellentesque nec nam aliquam sem et tortor consequat id. Morbi leo urna molestie at. Porta lorem mollis aliquam ut porttitor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        <p>Date: January 1, 2024</p>
</section>

<section class="latest-news">
    <div class="news-article">
        <h2>Placeholder Article 1</h2>
        <img src="/images/placeholder.png" alt="placeholderImage">
        <p>Date: January 1, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Vestibulum lectus mauris ultrices eros in cursus. Morbi tristique senectus et netus et malesuada fames. Convallis convallis tellus id interdum velit laoreet id donec. Eros donec ac odio tempor orci dapibus ultrices. Ut enim blandit volutpat maecenas. Morbi non arcu risus quis. Sem fringilla ut morbi tincidunt augue. Facilisi nullam vehicula ipsum a arcu cursus. Eu augue ut lectus arcu bibendum at. Risus viverra adipiscing at in tellus integer. Vestibulum morbi blandit cursus risus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nulla pellentesque dignissim enim sit. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Et netus et malesuada fames ac. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.

            Tellus molestie nunc non blandit massa enim nec. Mauris cursus mattis molestie a iaculis at erat. Commodo quis imperdiet massa tincidunt. Non pulvinar neque laoreet suspendisse interdum. Sit amet est placerat in. Sagittis eu volutpat odio facilisis. Quam pellentesque nec nam aliquam sem et tortor consequat id. Morbi leo urna molestie at. Porta lorem mollis aliquam ut porttitor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        <p class="author">Author: John Doe</p>
    </div>

    <div class="news-article">
        <h2>Placeholder Article 1</h2>
        <img src="/images/placeholder.png" alt="placeholderImage">
        <p>Date: January 1, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Vestibulum lectus mauris ultrices eros in cursus. Morbi tristique senectus et netus et malesuada fames. Convallis convallis tellus id interdum velit laoreet id donec. Eros donec ac odio tempor orci dapibus ultrices. Ut enim blandit volutpat maecenas. Morbi non arcu risus quis. Sem fringilla ut morbi tincidunt augue. Facilisi nullam vehicula ipsum a arcu cursus. Eu augue ut lectus arcu bibendum at. Risus viverra adipiscing at in tellus integer. Vestibulum morbi blandit cursus risus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nulla pellentesque dignissim enim sit. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Et netus et malesuada fames ac. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.

            Tellus molestie nunc non blandit massa enim nec. Mauris cursus mattis molestie a iaculis at erat. Commodo quis imperdiet massa tincidunt. Non pulvinar neque laoreet suspendisse interdum. Sit amet est placerat in. Sagittis eu volutpat odio facilisis. Quam pellentesque nec nam aliquam sem et tortor consequat id. Morbi leo urna molestie at. Porta lorem mollis aliquam ut porttitor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        <p class="author">Author: John Doe</p>
    </div>

    <div class="news-article">
        <h2>Placeholder Article 1</h2>
        <img src="/images/placeholder.png" alt="placeholderImage">
        <p>Date: January 1, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Vestibulum lectus mauris ultrices eros in cursus. Morbi tristique senectus et netus et malesuada fames. Convallis convallis tellus id interdum velit laoreet id donec. Eros donec ac odio tempor orci dapibus ultrices. Ut enim blandit volutpat maecenas. Morbi non arcu risus quis. Sem fringilla ut morbi tincidunt augue. Facilisi nullam vehicula ipsum a arcu cursus. Eu augue ut lectus arcu bibendum at. Risus viverra adipiscing at in tellus integer. Vestibulum morbi blandit cursus risus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nulla pellentesque dignissim enim sit. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Et netus et malesuada fames ac. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.

            Tellus molestie nunc non blandit massa enim nec. Mauris cursus mattis molestie a iaculis at erat. Commodo quis imperdiet massa tincidunt. Non pulvinar neque laoreet suspendisse interdum. Sit amet est placerat in. Sagittis eu volutpat odio facilisis. Quam pellentesque nec nam aliquam sem et tortor consequat id. Morbi leo urna molestie at. Porta lorem mollis aliquam ut porttitor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        <p class="author">Author: John Doe</p>
    </div>

    <div class="news-article">
        <h2>Placeholder Article 1</h2>
        <img src="/images/placeholder.png" alt="placeholderImage">
        <p>Date: January 1, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Vestibulum lectus mauris ultrices eros in cursus. Morbi tristique senectus et netus et malesuada fames. Convallis convallis tellus id interdum velit laoreet id donec. Eros donec ac odio tempor orci dapibus ultrices. Ut enim blandit volutpat maecenas. Morbi non arcu risus quis. Sem fringilla ut morbi tincidunt augue. Facilisi nullam vehicula ipsum a arcu cursus. Eu augue ut lectus arcu bibendum at. Risus viverra adipiscing at in tellus integer. Vestibulum morbi blandit cursus risus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nulla pellentesque dignissim enim sit. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Et netus et malesuada fames ac. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.

            Tellus molestie nunc non blandit massa enim nec. Mauris cursus mattis molestie a iaculis at erat. Commodo quis imperdiet massa tincidunt. Non pulvinar neque laoreet suspendisse interdum. Sit amet est placerat in. Sagittis eu volutpat odio facilisis. Quam pellentesque nec nam aliquam sem et tortor consequat id. Morbi leo urna molestie at. Porta lorem mollis aliquam ut porttitor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        <p class="author">Author: John Doe</p>
    </div>

    <div class="news-article">
        <h2>Placeholder Article 1</h2>
        <img src="/images/placeholder.png" alt="placeholderImage">
        <p>Date: January 1, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Vestibulum lectus mauris ultrices eros in cursus. Morbi tristique senectus et netus et malesuada fames. Convallis convallis tellus id interdum velit laoreet id donec. Eros donec ac odio tempor orci dapibus ultrices. Ut enim blandit volutpat maecenas. Morbi non arcu risus quis. Sem fringilla ut morbi tincidunt augue. Facilisi nullam vehicula ipsum a arcu cursus. Eu augue ut lectus arcu bibendum at. Risus viverra adipiscing at in tellus integer. Vestibulum morbi blandit cursus risus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nulla pellentesque dignissim enim sit. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Et netus et malesuada fames ac. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.

            Tellus molestie nunc non blandit massa enim nec. Mauris cursus mattis molestie a iaculis at erat. Commodo quis imperdiet massa tincidunt. Non pulvinar neque laoreet suspendisse interdum. Sit amet est placerat in. Sagittis eu volutpat odio facilisis. Quam pellentesque nec nam aliquam sem et tortor consequat id. Morbi leo urna molestie at. Porta lorem mollis aliquam ut porttitor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        <p class="author">Author: John Doe</p>
    </div>

    <div class="news-article">
        <h2>Placeholder Article 1</h2>
        <img src="/images/placeholder.png" alt="placeholderImage">
        <p>Date: January 1, 2024</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis molestie a iaculis. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Vestibulum lectus mauris ultrices eros in cursus. Morbi tristique senectus et netus et malesuada fames. Convallis convallis tellus id interdum velit laoreet id donec. Eros donec ac odio tempor orci dapibus ultrices. Ut enim blandit volutpat maecenas. Morbi non arcu risus quis. Sem fringilla ut morbi tincidunt augue. Facilisi nullam vehicula ipsum a arcu cursus. Eu augue ut lectus arcu bibendum at. Risus viverra adipiscing at in tellus integer. Vestibulum morbi blandit cursus risus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Nulla pellentesque dignissim enim sit. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Et netus et malesuada fames ac. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae.

            Tellus molestie nunc non blandit massa enim nec. Mauris cursus mattis molestie a iaculis at erat. Commodo quis imperdiet massa tincidunt. Non pulvinar neque laoreet suspendisse interdum. Sit amet est placerat in. Sagittis eu volutpat odio facilisis. Quam pellentesque nec nam aliquam sem et tortor consequat id. Morbi leo urna molestie at. Porta lorem mollis aliquam ut porttitor. Eu turpis egestas pretium aenean pharetra magna ac placerat. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        <p class="author">Author: John Doe</p>
    </div>

    <!-- Repeat the news-article divs for other articles -->

</section>

</body>
</html>