<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University of Missouri Club Soccer Team News</title>
</head>
<body>
    <header>
        <h1>University of Missouri Club Soccer Team News</h1>
    </header>

    <main>
        <section class="latest-news">
            <h2>Latest News</h2>
                <p>No news articles available at the moment.</p>
                    <!-- write in code to pull from database or discuss widgets -->
        </section>
    </main>

</body>
</html>
