<!-- team.ejs aka player Read -->
<!-- <ul>
  <% players.forEach(player => { %>
    <li><%= player.firstname %> - <%= player.position %></li>
  <% }); %>
</ul> -->


<h1>Roster</h1>
<div class = "section">

<table>
  <tr>
    <th>Player</th>
    <th>Jersey #</th>
    <th>Position</th>
    <th>Class</th>
    <th>Major</th>
  </tr>
  <tr>
    <td>
        <div class="name">Charlie Boeger</div>
        Saves: 34
    </td>
    <td class="number">0</td>
    <td>GK</td>
    <td>Sophomore</td>
    <td>Accounting</td>
  </tr>
  <tr>
    <td>
        <div class="name">Nate Gabris</div>
        
        Saves: 0
        <br>Assists: 1
    </td>
    <td class="number">1</td>
    <td>GK</td>
    <td>Junior</td>
    <td>Business</td>
  </tr>
  <tr>
    <td>
        <div class="name">AJ Perez</div>
        Goals: 7
        <br>Assists: 4
    </td>
    <td class="number">2</td>
    <td>Defense</td>
    <td>Junior</td>
    <td>Engineering</td>
  </tr>
  <tr>
    <td>
        <div class="name">Sam Oesterlei</div>
        Goals: 0
        <br>Assists: 2
    </td>
    <td class="number">3</td>
    <td>Defense</td>
    <td>5th Year</td>
    <td>Business</td>
  </tr>
  <tr>
    <td>
        <div class="name">Mick Hanon</div>
        Goals: 0
        <br>Assists: 0
    </td>
    <td class="number">4</td>
    <td>Defense</td>
    <td>Senior</td>
    <td>Accounting</td>
  </tr>
  <tr>
    <td>
        <div class="name">Cole Pardo</div>
        Goals: 3
        <br>Assists: 5
    </td>
    <td class="number">6</td>
    <td>Defense</td>
    <td>Senior</td>
    <td>Business</td>
  </tr>
  <tr>
    <td>
        <div class="name">RJ Clark</div>
        Goals: 20
        <br>Assists: 25
    </td>
    <td class="number">11</td>
    <td>Forward</td>
    <td>Senior</td>
    <td>Undecided</td>
  </tr>
  <tr>
    <td>
        <div class="name">Jackson Adamec</div>
        Goals: 19
        <br>Assists: 11
    </td>
    <td class="number">12</td>
    <td>Forward</td>
    <td>Junior</td>
    <td>Business</td>
  </tr>
  <tr>
    <td>
        <div class="name">Mason Schultz</div>
        Goals: 2
        <br>Assists: 11
    </td>
    <td class="number">13</td>
    <td>Midfield</td>
    <td>6th Year</td>
    <td>Education</td>
  </tr>
  <tr>
    <td>
        <div class="name">Carson Wilhelm</div>
        Goals: 7
        <br>Assists: 18
    </td>
    <td class="number">14</td>
    <td>Midfield</td>
    <td>Senior</td>
    <td>Communication</td>
  </tr>
  <tr>
    <td>
        <div class="name">Jacob Summerville</div>
        Goals: 10
        <br>Assists: 10
    </td>
    <td class="number">15</td>
    <td>Midfield</td>
    <td>Junior</td>
    <td>Computer Science</td>
  </tr>
  <tr>
    <td>
        <div class="name">Clayton Garofalo</div>
        Goals: 1
        <br>Assists: 1
    </td>
    <td class="number">16</td>
    <td>Midfield</td>
    <td>Sophomore</td>
    <td>Finance</td>
  </tr>
  <tr>
    <td>
        <div class="name">Matthew DeGarmo</div>
        Goals: 0
        <br>Assists: 0
    </td>
    <td class="number">17</td>
    <td>Forward</td>
    <td>Sophomore</td>
    <td>Business</td>
  </tr>
  <tr>
    <td>
        <div class="name">TJ Schaeffer</div>
        Goals: 0
        <br>Assists: 0
    </td>
    <td class="number">18</td>
    <td>Forward</td>
    <td>Sophomore</td>
    <td>Biology</td>
  </tr>
  <tr>
    <td>
        <div class="name">Tommy Collora</div>
        Goals: 3
        <br>Assists: 5
    </td>
    <td class="number">19</td>
    <td>Defense</td>
    <td>Sophomore</td>
    <td>Business</td>
  </tr>
  <tr>
    <td>
        <div class="name">Tanner Jones</div>
        Goals: 0
        <br>Assists: 1
    </td>
    <td class="number">24</td>
    <td>Forward</td>
    <td>Sophomore</td>
    <td>Business</td>
  </tr>
</table>
<div class="buttons">
    <button>Sign Up</button>
    <button>Tickets</button>
</div>

</div>

