<section class="content">
    <div class="form-container">
        <div class="form-title">Mizzou Men's Club Soccer Recruiting Form</div>
        <form action="/signup" method="POST" id="signupForm">
            <div class="form-group2">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="form-group2">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="height">Height:</label>
                <input type="text" id="height" name="height" required>
            </div>
            <div class="form-group">
                <label for="weight">Weight:</label>
                <input type="text" id="weight" name="weight" required>
            </div>
            <div class="form-group">
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday" required>
            </div>
            <div class="form-group">
                <label for="position">Position:</label>
                <input type="text" id="position" name="position" required>
            </div>
            <div class="form-group">
                <label for="resume">Sports Resume:</label>
                <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx">
                <label for="resume" class="file-upload">Upload</label>
            </div>
            <button type="submit" id="submitBtn" disabled>Submit</button>
            <div class="g-recaptcha" data-sitekey="6LcOVaspAAAAAL9g-m-4lU9hl1kKm5YEzTP0Whgx"></div>
        </form>
    </div>
</section>