<form action="/signup" method="post" class="signup">
    <div class="field">
        <input type="text" id="username" name="username" placeholder="User Name" required>
    </div>
    <div class="field">
        <input type="text" id="email" name="email" placeholder="Email Address" required>
    </div>
    <div class="field">
        <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="field"> <!--Just for the ui-->
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
    </div>
    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value="Signup">
    </div>
</form>
