
html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after {
  content: " ";
  display: table;
  clear: both;
}

/* Header styles */
.header-upper {
  background: black;
}

.header-upper ul {
  list-style-type: none;
  float: right;
}

.header-upper ul li {
  float: left;
}

.header-upper ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}

.header-lower {
  background: rgba(88, 80, 80, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Adjust padding as needed */
  /*height: 150px;*/
}

.logo svg {
  width: 180px;
  height: auto;
}
div .logo {
  width: 180px;
  height: auto;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 18px; /* Adjust the size as needed */
}

.navbar a:hover {
  background-color: hsl(232, 51%, 15%);
}

.navbar li {
  float: left;
  position: relative; /* For dropdown positioning */
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 100px;
  z-index: 1;
}

.dropdown:hover .sub-menu {
  display: block;
}

.header-lower .social {
  display: flex;
  gap: 20px;
  margin-right: 200px;
}

.header-lower .social a {
  font-size: 24px; /* Adjust the size as needed to make it bigger */
  color: rgb(208, 203, 203);
}

.social a:hover {
  color: #b81e20;
}

/*Header style end*/
/*home style*/
.homepage-section-container {
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
  width: fit-content; /* Ensure container width fits its content */
}

.homepage-section-container img {
  display: block; /* The image is treated as a block element */
  margin: 0 auto; /* Center the image horizontally within its container */
  width: 1100px; /*set img width & height */
  height: 600px;
}
.homepage-section2-container {
  display: flex;
  justify-content: space-between; /* Ensure equal space between columns */
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.column {
  flex: 1; /* Equal width for both columns */
  padding: 20px;
  background-color: #f2f2f2; /* background color */
  border-radius: 8px; /* border radius */
}

.column h2 {
  text-align: center; /* Center-align heading */
  margin-bottom: 15px; /* margin */
}
.column + .column {
  margin-left: 20px; /* Space between columns */
}

/* Styles for the Results column */

.result-info {
  display: flex;
  flex-direction: column; /* Arrange date-time and team info vertically */
  border: 1px solid #ccc;
  margin-bottom: 20px; /* Add margin between result items */
}

.date-time-info {
  display: flex;
  justify-content: space-between; /* Align date and time at start and end */
  align-items: center; /* Center vertically */
  padding: 10px;
}

.date-info,
.time-info {
  text-align: center;
  flex: 1; /* Equal width for date and time */
}

.team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.team-info img {
  max-width: 50px;
}
/* Styles for the Upcoming Matches column */
.match {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.match-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.match-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teams {
  text-align: center;
}

.homepage-section3-container {
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
  width: fit-content; /* Ensure container width fits its content */
}
.homepage-section3-container h2 {
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 1200px; /*table width*/
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
/*home style end*/

.content {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #555;
}





