
html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after {
  content: " ";
  display: table;
  clear: both;
}

/* Header styles */
.header-upper {
  background: black;
}

.header-upper ul {
  list-style-type: none;
  float: right;
}

.header-upper ul li {
  float: left;
}

.header-upper ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}

.header-lower {
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Adjust padding as needed */
}

.logo img {
  width: 130px;
  height: auto;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 18px; /* Adjust the size as needed */
}

.navbar a:hover {
  background-color: hsl(232, 51%, 15%);
}

.navbar li {
  float: left;
  position: relative; /* For dropdown positioning */
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 100px;
  z-index: 1;
}

.dropdown:hover .sub-menu {
  display: block;
}

.header-lower .social {
  display: flex;
  gap: 20px;
  margin-right: 200px;
}

.header-lower .social a {
  font-size: 24px; /* Adjust the size as needed to make it bigger */
  color: rgb(208, 203, 203);
}

.social a:hover {
  color: #b81e20;
}

/*Header style end*/
/*home style*/
.homepage-section-container {
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
  width: fit-content; /* Ensure container width fits its content */
}

.homepage-section-container img {
  display: block; /* The image is treated as a block element */
  margin: 0 auto; /* Center the image horizontally within its container */
}
/*home style end*/

.content {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #555;
}





